<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="..\public\css\other.css">
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/popper.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container border">
            <div class="container">
                <br>
                <h4>确认订单信息</h4>
                <div id="corder" class="container">
                    <div class="row border " style="line-height: 2.5">
                        <div class="col-sm-4">&nbsp;&nbsp;&nbsp;商品信息</div>
                        <div class="col-sm-2 text-center">单价</div>
                        <div class="col-sm-2 text-center">数量</div>
                        <div class="col-sm-2 text-center">小计</div>
                    </div>
                    <div class="row border border-top-0 ">
                        <div class="col-sm-4">
                            <div  class="container">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="../public/img/cartoon_1.jpg" class="cartimg" alt="书本图片">
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="#">&nbsp;&nbsp;书本名</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 text-center">
                            <div  class="_middle">
                                <span class="text-dark card-text font-weight-bold">￥</span>
                                <span class="text-dark card-text font-weight-bold">89.00</span>
                            </div>
                        </div>
                        <div class="col-sm-2 text-center">
                            <a >1</a>
                        </div>
                        <div class="col-sm-2 text-center">
                            <div  class="_middle">
                                <span class="text-danger card-text font-weight-bold">￥</span>
                                <span class="text-danger card-text font-weight-bold">89.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="row border border-top-0 ">
                        <div class="col-sm-4">
                            <div  class="container">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="../public/img/cartoon_1.jpg" class="cartimg" alt="书本图片">
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="#">&nbsp;&nbsp;书本名</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 text-center">
                            <div  class="_middle">
                                <span class="text-dark card-text font-weight-bold">￥</span>
                                <span class="text-dark card-text font-weight-bold">89.00</span>
                            </div>
                        </div>
                        <div class="col-sm-2 text-center">
                            <a >1</a>
                        </div>
                        <div class="col-sm-2 text-center">
                            <div  class="_middle">
                                <span class="text-danger card-text font-weight-bold">￥</span>
                                <span class="text-danger card-text font-weight-bold">89.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="row border border-top-0 ">
                        <div class="col-sm-4">
                            <div  class="container">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="../public/img/cartoon_1.jpg" class="cartimg" alt="书本图片">
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="#">&nbsp;&nbsp;书本名</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 text-center">
                            <div  class="_middle">
                                <span class="text-dark card-text font-weight-bold">￥</span>
                                <span class="text-dark card-text font-weight-bold">89.00</span>
                            </div>
                        </div>
                        <div class="col-sm-2 text-center">
                            <a >1</a>
                        </div>
                        <div class="col-sm-2 text-center">
                            <div  class="_middle">
                                <span class="text-danger card-text font-weight-bold">￥</span>
                                <span class="text-danger card-text font-weight-bold">89.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="row border border-top-0 ">
                        <div class="col-sm-4">
                            <div  class="container">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <img src="../public/img/cartoon_1.jpg" class="cartimg" alt="书本图片">
                                    </div>
                                    <div class="col-sm-9">
                                        <a href="#">&nbsp;&nbsp;书本名</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 text-center">
                            <div  class="_middle">
                                <span class="text-dark card-text font-weight-bold">￥</span>
                                <span class="text-dark card-text font-weight-bold">89.00</span>
                            </div>
                        </div>
                        <div class="col-sm-2 text-center">
                            <a >1</a>
                        </div>
                        <div class="col-sm-2 text-center">
                            <div  class="_middle">
                                <span class="text-danger card-text font-weight-bold">￥</span>
                                <span class="text-danger card-text font-weight-bold">89.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="row " style="line-height: 2.5">
                        <div class="col-sm-6 border border-top-0">
                        <div class="row">
                            <div class="container">
                                <span>选择收货地址</span>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="row border">
                                                <div class="col-sm-6">
                                                    <span>小明</span>
                                                </div>
                                                <div class="col-sm-6 ">
                                                    <span>123456789</span>
                                                </div>
                                            </div>
                                            <div class="row border border-top-0">
                                                <div class="col-sm-6">
                                                    <span>广东省</span>
                                                    <span>佛山市</span>
                                                </div>
                                                <div class="col-sm-6">

                                                </div>
                                            </div>
                                            <div class="row border border-top-0">
                                                <div class="col-sm-12">
                                                    <span>南海区狮山镇华南师范大学南海校区</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="row"><a href="" class="btn btn-outline-info dizhi">其他地址</a></div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="row"><a href="" class="btn btn-outline-info dizhi">新建地址</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                        <div class="col-sm-6 border border-top-0">
                            <div class="row border border-top-0 border-left-0 border-right-0">
                                <div class="col-sm-8">
                                    <div>
                                    <span>
                                运送方式&nbsp;：
                                 </span>
                                        <span>
                                普通配送
                                 </span>
                                        <span>
                                免邮
                                 </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div>
                                        <input type="checkbox">&nbsp;&nbsp;开具发票
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="container">
                                    <span>订单备注&nbsp;：</span>
                                    <input type="text" class="beizhu" style="line-height: 5">
                                </div>
                            </div>
                            <br>
                            <div class="row border-top">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6">
                                    <div class="container">
                                        <div class="row">
                                            <a href="#" class="btn btn-outline-dark tijiao">返回购物车</a>
                                            <a href="#" class="btn btn-danger tijiao">提交订单</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <nav class="navbar"></nav>
    </div>
</body>
</html>