<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" href="css/login.css">

</head>

<body>
<div id="loginDiv">
    <form action='/user/userLogin' id="form" method="post" >
        <h1 style="text-align: center;color: aliceblue;">登  陆</h1>
        <p>用 户 名:<input id="uName" type="text"><label id="name_trip"></label></p>

        <p>密 码 :&nbsp&nbsp&nbsp<input id="uPwd" type="password"><label id="password_trip"></label></p>

        <div style="text-align: center;margin-top: 30px;">
            <input type="submit" class="button" value="登 陆  ">
            <a href="regist.html"><input type="button" class="button" value="注 册  "></a>
        </div>
    </form>
</div>

</body>
</html>