<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="..\public\css\other.css">
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/popper.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container border">
            <div class="container">
                <br>
                <h4>我的订单</h4>
                <div id="morder" class="container">
                    <div class="row border" style="line-height: 2.5">
                        <div class="col-sm-3 text-center">
                            <span>商品信息</span>
                        </div>
                        <div class="col-sm-2 text-center">
                            <span>单价</span>
                        </div>
                        <div class="col-sm-1 text-center">
                            <span>数量</span>
                        </div>
                        <div class="col-sm-2 text-center">
                            <span>付款金额</span>
                        </div>
                        <div class="col-sm-2 text-center">
                            <span>交易状态</span>
                        </div>
                        <div class="col-sm-2 text-center">
                            <span>交易操作</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="row border">
                                <div class="container">
                                    <span>&nbsp;&nbsp;&nbsp;2020-12-07</span>
                                    <span>订单号&nbsp;：</span>
                                    <span>104486622622</span>
                                </div>
                            </div>
                            <div class="row border">
                                <div class="col-sm-3">
                                    <div  class="container">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <img src="../public/img/cartoon_1.jpg" class="cartimg" alt="书本图片">
                                            </div>
                                            <div class="col-sm-7">
                                                <a href="#">&nbsp;&nbsp;书本名</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text">￥</span>
                                        <span class="text-dark card-text">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <a >1</a>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text font-weight-bold">￥</span>
                                        <span class="text-dark card-text font-weight-bold">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <span>物流派送中</span>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <a href="" class="btn btn-info" >确认收货</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="row border">
                                <div class="container">
                                    <span>&nbsp;&nbsp;&nbsp;2020-12-07</span>
                                    <span>订单号&nbsp;：</span>
                                    <span>104486622622</span>
                                </div>
                            </div>
                            <div class="row border">
                                <div class="col-sm-3">
                                    <div  class="container">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <img src="../public/img/cartoon_1.jpg" class="cartimg" alt="书本图片">
                                            </div>
                                            <div class="col-sm-7">
                                                <a href="#">&nbsp;&nbsp;书本名</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text">￥</span>
                                        <span class="text-dark card-text">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <a >1</a>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text font-weight-bold">￥</span>
                                        <span class="text-dark card-text font-weight-bold">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <span>物流派送中</span>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <a href="" class="btn btn-info" >确认收货</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="row border">
                                <div class="container">
                                    <span>&nbsp;&nbsp;&nbsp;2020-12-04</span>
                                    <span>订单号&nbsp;：</span>
                                    <span>108999622622</span>
                                </div>
                            </div>
                            <div class="row border">
                                <div class="col-sm-3">
                                    <div  class="container">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <img src="../public/img/cartoon_1.jpg" class="cartimg" alt="书本图片">
                                            </div>
                                            <div class="col-sm-7">
                                                <a href="#">&nbsp;&nbsp;书本名</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text">￥</span>
                                        <span class="text-dark card-text">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <a >1</a>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text font-weight-bold">￥</span>
                                        <span class="text-dark card-text font-weight-bold">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <span>已收货</span>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <a href="" class="btn btn-outline-secondary" >删除订单</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="row border">
                                <div class="container">
                                    <span>&nbsp;&nbsp;&nbsp;2020-12-04</span>
                                    <span>订单号&nbsp;：</span>
                                    <span>108999622622</span>
                                </div>
                            </div>
                            <div class="row border">
                                <div class="col-sm-3">
                                    <div  class="container">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <img src="../public/img/cartoon_1.jpg" class="cartimg" alt="书本图片">
                                            </div>
                                            <div class="col-sm-7">
                                                <a href="#">&nbsp;&nbsp;书本名</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text">￥</span>
                                        <span class="text-dark card-text">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <a >1</a>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text font-weight-bold">￥</span>
                                        <span class="text-dark card-text font-weight-bold">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <span>已收货</span>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <a href="" class="btn btn-outline-secondary" >删除订单</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="row border">
                                <div class="container">
                                    <span>&nbsp;&nbsp;&nbsp;2020-12-04</span>
                                    <span>订单号&nbsp;：</span>
                                    <span>108999622622</span>
                                </div>
                            </div>
                            <div class="row border">
                                <div class="col-sm-3">
                                    <div  class="container">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <img src="../public/img/cartoon_1.jpg" class="cartimg" alt="书本图片">
                                            </div>
                                            <div class="col-sm-7">
                                                <a href="#">&nbsp;&nbsp;书本名</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text">￥</span>
                                        <span class="text-dark card-text">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <a >1</a>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text font-weight-bold">￥</span>
                                        <span class="text-dark card-text font-weight-bold">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <span>已收货</span>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <a href="" class="btn btn-outline-secondary" >删除订单</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="row border">
                                <div class="container">
                                    <span>&nbsp;&nbsp;&nbsp;2020-12-04</span>
                                    <span>订单号&nbsp;：</span>
                                    <span>108999622622</span>
                                </div>
                            </div>
                            <div class="row border">
                                <div class="col-sm-3">
                                    <div  class="container">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <img src="../public/img/cartoon_1.jpg" class="cartimg" alt="书本图片">
                                            </div>
                                            <div class="col-sm-7">
                                                <a href="#">&nbsp;&nbsp;书本名</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text">￥</span>
                                        <span class="text-dark card-text">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <a >1</a>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text font-weight-bold">￥</span>
                                        <span class="text-dark card-text font-weight-bold">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <span>已收货</span>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <a href="" class="btn btn-outline-secondary" >删除订单</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="row border">
                                <div class="container">
                                    <span>&nbsp;&nbsp;&nbsp;2020-12-04</span>
                                    <span>订单号&nbsp;：</span>
                                    <span>108999622622</span>
                                </div>
                            </div>
                            <div class="row border">
                                <div class="col-sm-3">
                                    <div  class="container">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <img src="../public/img/cartoon_1.jpg" class="cartimg" alt="书本图片">
                                            </div>
                                            <div class="col-sm-7">
                                                <a href="#">&nbsp;&nbsp;书本名</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text">￥</span>
                                        <span class="text-dark card-text">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <a >1</a>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text font-weight-bold">￥</span>
                                        <span class="text-dark card-text font-weight-bold">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <span>已收货</span>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <a href="" class="btn btn-outline-secondary" >删除订单</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="row border">
                                <div class="container">
                                    <span>&nbsp;&nbsp;&nbsp;2020-12-04</span>
                                    <span>订单号&nbsp;：</span>
                                    <span>108999622622</span>
                                </div>
                            </div>
                            <div class="row border">
                                <div class="col-sm-3">
                                    <div  class="container">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <img src="../public/img/cartoon_1.jpg" class="cartimg" alt="书本图片">
                                            </div>
                                            <div class="col-sm-7">
                                                <a href="#">&nbsp;&nbsp;书本名</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text">￥</span>
                                        <span class="text-dark card-text">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <a >1</a>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text font-weight-bold">￥</span>
                                        <span class="text-dark card-text font-weight-bold">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <span>已收货</span>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <a href="" class="btn btn-outline-secondary" >删除订单</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="row border">
                                <div class="container">
                                    <span>&nbsp;&nbsp;&nbsp;2020-12-04</span>
                                    <span>订单号&nbsp;：</span>
                                    <span>108999622622</span>
                                </div>
                            </div>
                            <div class="row border">
                                <div class="col-sm-3">
                                    <div  class="container">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <img src="../public/img/cartoon_1.jpg" class="cartimg" alt="书本图片">
                                            </div>
                                            <div class="col-sm-7">
                                                <a href="#">&nbsp;&nbsp;书本名</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text">￥</span>
                                        <span class="text-dark card-text">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <a >1</a>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <div  class="_middle">
                                        <span class="text-dark card-text font-weight-bold">￥</span>
                                        <span class="text-dark card-text font-weight-bold">89.00</span>
                                    </div>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <span>已收货</span>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <a href="" class="btn btn-outline-secondary" >删除订单</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar"></nav>
    </div>
</body>
</html>