<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/product.css"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            //鼠标悬停触发事件
            $("#hover_dropdown").hover(function(){
                $(".dropdown-toggle").dropdown('toggle');
            });

            //书库：显示所有图书
            $.ajax({
                method: 'GET',
                url: 'http://127.0.0.1:8080/book/findAll',
                success: function (data){
                    let books = '<div class="row">';
                    for(let i = 0; i < data.list.length; i++){
                        books += '<div class="col-md-4">\n' +
                            '                <div class="card mb-4 shadow-sm">\n' +
                            '                    <img src="/public/img/bookCover/' + data.list[i].bUri + '" alt="" class="book-img">\n' +
                            '                    <div class="card-body-book">\n' +
                            '                        <div class="book-info">\n' +
                            '                            <p class="book-title">' + data.list[i].bName + '</p>\n' +
                            '                            <p class="book-author">' + data.list[i].bAuthor + '</p>\n' +
                            '                        </div>\n' +
                            '                        <div class="d-flex justify-content-between align-items-center">\n' +
                            '                            <div class="btn-group">\n' +
                            '                                <button type="button" class="btn btn-sm btn-outline-secondary">查看</button>\n' +
                            '                                <button type="button" class="btn btn-sm btn-outline-secondary">加入购物车</button>\n' +
                            '                            </div>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                </div>\n' +
                            '            </div>'
                    }
                    books += '</div>';
                    $("#bookDisplayPanel").html(books);
                }
            });

            //按标签筛选图书
            $("#submitBtn").click(function(){
                let labels = [];
                $("input:checkbox:checked").each(function (){
                    labels.push($(this).val());
                });
                $.ajax({
                    method: 'GET',
                    url: 'http://127.0.0.1:8080/book/searchByTag',
                    data: {
                        "labelsList": labels.join()
                    },
                    success: function (data) {
                        let books = '<div class="row">';
                        for(let i = 0; i < data.list.length; i++){
                            books += '<div class="col-md-4">\n' +
                                '                <div class="card mb-4 shadow-sm">\n' +
                                '                    <img src="/public/img/bookCover/' + data.list[i].bUri + '" alt="" class="book-img">\n' +
                                '                    <div class="card-body-book">\n' +
                                '                        <div class="book-info">\n' +
                                '                            <p class="book-title">' + data.list[i].bName + '</p>\n' +
                                '                            <p class="book-author">' + data.list[i].bAuthor + '</p>\n' +
                                '                        </div>\n' +
                                '                        <div class="d-flex justify-content-between align-items-center">\n' +
                                '                            <div class="btn-group">\n' +
                                '                                <button type="button" class="btn btn-sm btn-outline-secondary">查看</button>\n' +
                                '                                <button type="button" class="btn btn-sm btn-outline-secondary">加入购物车</button>\n' +
                                '                            </div>\n' +
                                '                        </div>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '            </div>'
                        }
                        books += '</div>';
                        $("#bookDisplayPanel").html(books);
                    }
                });
            });
        });
    </script>
</head>
<body>
<div class="container">
    <!-- 顶部信息栏 -->
    <div class="row clearfix sticky-top">
        <div class="col-12">
            <ul class="breadcrumb justify-content-end">
                <li class="breadcrumb-item">
                    欢迎光临xx书店，请先<a href="view/login.html">登录</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="view/register.html">注册</a>
                </li>
                <li class="breadcrumb-item">
                    <div class="dropdown" id="hover_dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">我</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">账户信息</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">我的购物车</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">我的订单</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">联系客服</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 网站logo + 搜索框 + 购物车按钮 -->
    <div class="row">
        <div class="col-lg-3 col-md-12">
            <a href="" class="navbar-brand"><img src="img/logo.png" alt=""/></a>
        </div>
        <div class="col-lg-5 col-md-12 mt-3">
            <div class="input-group">
                <!--                <img src="img/header/search.png" alt=""/>-->
                <input type="text" class="form-control my_small pt-0 pb-0" placeholder="请输入书籍名称、作者或出版社"/>
                <input type="button" value="搜索" />
            </div>
        </div>
        <!-- 带图标的按钮 -->
        <div class="col-lg-4 col-md-12 p-0 mt-3">
            <!--                <a href="#" class="btn btn-lg red">-->
            <!--                    <span class="fa fa-unlock-alt fa-2x"></span>我的购物车-->
            <!--                </a>-->
            <a href="#" class="btn btn-outline-danger btn-lg"><i class="glyphicon glyphicon-shopping-cart"></i> 我的购物车</a>
        </div>
    </div>

    <!-- 筛选标签 -->
    <!-- 书本类别可选标签：动漫、经济学、教育、历史、小说、编程、散文、旅行、推理 -->
    <div class="panel-group" id="panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed text-muted" data-toggle="collapse" data-parent="#panel" href="#panel-element">筛选图书类型<span class="fa-caret-down"></span></a>
            </div>
            <div id="panel-element" class="panel-collapse collapse">
                <div class="panel-body">
                    <div>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="动漫"> 动漫
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="经济学"> 经济学
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox3" value="教育"> 教育
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox4" value="历史"> 历史
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox5" value="小说"> 小说
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox6" value="编程"> 编程
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox7" value="散文"> 散文
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox8" value="旅行"> 旅行
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox9" value="推理"> 推理
                        </label>
                        <label class="checkbox-inline pull-right">
                            <input type="submit" id="submitBtn" value="确认">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 分割线 -->
    <hr color="#ffffff" />

    <!-- 书库/搜索结果展示区 -->
    <div class="container" id="bookDisplayPanel"></div>

</div>
</body>
</html>