.breadcrumb-item + .breadcrumb-item::before{
    content : '|';
    padding-left : 1rem;
    padding-right : 1rem;
}

#footer_upper{
    text-align: center;
}

#footer_upper img{
    width: 50px;
    height: 50px;
}

.nav > li:hover .dropdown-menu {
    display: block;
}

.card-body-book {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.book-info{
    height: 110px;
}

.book-title {
    /*height: 48px;*/
    margin-bottom: 1rem;
}

.book-author {
    /*height: 57px;*/
    margin-bottom: 1rem;
    color:#6c757d;
    font-size: smaller;
}

.book-img{
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 350px;
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.pull-left{
    float: left !important;
}

.pull-right{
    float: right !important;
}

